<!-- for fullscreen just add .fullscreen class to section -->
<section class="slider">
  <ul class="slides">
    <li>
      <img src="../../assets/photos/4.jpg" />
      <div class="caption center-align ">
        <h3 class="white-text">Visit the paradise of birds</h3>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
          officia delectus ad dolore maiores ratione.
        </h5>
        <a class="btn btn-large" href="">Learn more</a>
      </div>
    </li>
    <li>
      <img src="../../assets/photos/adult-adventure-backpacker-372098.jpg" />
      <div class="caption right-align">
        <h3>Take the ultimate adventure</h3>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
          officia delectus ad dolore maiores ratione.
        </h5>
        <a class="btn btn-large" href="">Learn more</a>
      </div>
    </li>
    <li>
      <img src="../../assets/photos/5.jpg" />
      <div class="caption left-align">
        <h3>Recharge the batteries away from the city</h3>
        <h5 class="light grey-text text-lighten-3 hide-on-small-only">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
          officia delectus ad dolore maiores ratione.
        </h5>
        <a class="btn btn-large" href="">Learn more</a>
      </div>
    </li>
  </ul>
</section>
