.section {
  margin: 2rem 0;
}

.btn-large {
  margin: 2rem 0;
}

.parallax-container {
  max-height: 300px;
}

.card {
  margin-top: 1rem;
}

.picture-size {
  height: 5rem;
  width: 4rem;
}

.card-reveal {
  background-color:floralwhite;
  
}
