<section>
  <div class="container" style="text-align: center;">
    <div class="row">
      <div class="col s12 m4">
        <i class="material-icons large teal-text">pool</i>
        <h5><b>Swim all day</b></h5>
        <p style="text-align: left;">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
          enim sapiente quibusdam magnam aspernatur iste nulla saepe, odit
          corrupti cumque cum mollitia et quasi libero officiis similique sit
          pariatur repudiandae ut officia consequuntur porro. Ducimus nemo
          consectetur fugit. Voluptates dolores dolor at, officiis rerum non
          laborum dicta illo vel ut?
        </p>
      </div>
      <div class="col s12 m4">
        <i class="material-icons large teal-text">room_service</i>
        <h5><b>Lavish buffet</b></h5>
        <p style="text-align: left;">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
          enim sapiente quibusdam magnam aspernatur iste nulla saepe, odit
          corrupti cumque cum mollitia et quasi libero officiis similique sit
          pariatur repudiandae ut officia consequuntur porro. Ducimus nemo
          consectetur fugit. Voluptates dolores dolor at, officiis rerum non
          laborum dicta illo vel ut?
        </p>
      </div>
      <div class="s12 m4">
        <i class="material-icons large teal-text">golf_course</i>
        <h5><b>Golf gallore</b></h5>
        <p style="text-align: left;">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
          enim sapiente quibusdam magnam aspernatur iste nulla saepe, odit
          corrupti cumque cum mollitia et quasi libero officiis similique sit
          pariatur repudiandae ut officia consequuntur porro. Ducimus nemo
          consectetur fugit. Voluptates dolores dolor at, officiis rerum non
          laborum dicta illo vel ut?
        </p>
      </div>
    </div>
  </div>
</section>
